:root {
    --background-color: #262626;
    --background-color2: #f2f2f2;
    --background-color3: #3d8aa68f;
}

body {
    margin: 0px;
    margin-top: 60px;
    background: var(--background-color);
    color: white;

    overflow-x: hidden;
    font-family: Archivo Black, Trebuchet MS, sans-serif;
}

button {
    border-radius: 1%;
    margin: 5px 20px;
}

hr {
    border-color: var(--background-color3);
    border-width: 5px;
    width: calc(100% + 10px);
    transform: translateX(-10px);

    margin: 0;
}

/****** specific styles *******/
.dashed-border-right {
    border-right-style: dashed;
    border-right-width: 5px;
    border-right-color: var(--background-color3);
}

/*** dropdownicon ***/
:root {
    --dropdownicon_height: 80px;
    --dropdownicon_left: 25px;
    --dropdownicon_width: 25px;
    --dropdownicon_offset: -20px;

    --dropheight: 262px;
}

.dropdownicon-container {
    z-index: 1;
    display: none;

    position: fixed;
    top: var(--dropdownicon_offset);
    left: var(--dropdownicon_left);
    background-color: white;
    width: var(--dropdownicon_width);
    transition: transform 0.1s;
}

.icon-master {
    position: absolute;
    width: var(--dropdownicon_width);
    height: calc(var(--dropdownicon_height) - 10px);
    background-color: darkslategrey;
}

.icon-filler {
    position: absolute;
    top: calc(var(--dropdownicon_height) - 10px);
    width: calc(var(--dropdownicon_width) - 10px);
    height: 10px;
    background-color: darkslategrey;
}

.icon-corner {
    position: absolute;
    top: calc(var(--dropdownicon_height) - 10px);
    width: 14.14px;
    height: 10px;
    left: calc(var(--dropdownicon_width) / 2);
    transform: translateY(-7px) rotateZ(-45deg) translateX(-5px);
    background-color: darkslategrey;
    opacity: 1;
}

/*
.icon {
    position: absolute;
    top: 0;
    background-color: darkslategray;
    width: var(--dropdownicon_width);
    height: var(--dropdownicon_height);
}

.cut {
    position: absolute;
    background-color: var(--background-color);
    left: calc(6px + var(--dropdownicon_width) / 2);
    top: calc(var(--dropdownicon_height) + 6px - var(--dropdownicon_width) / 2);
    height: calc(var(--dropdownicon_width) / 2);
    width: calc(var(--dropdownicon_width) / 2);

    transform: rotateZ(45deg) scale(1);
}
*/

.dropdownicon-container:hover {
    cursor: pointer;
}

.dropdownicon-hoverdrop:hover {
    /*.dropdownicon-hoverdrop:focus*/

    transform: translateY(7px);
}

/******* Navbar *********/

nav {
    z-index: 1;
    position: absolute;
    top: 5px;

    display: flex;
    justify-content: center;
    gap: 50px;

    width: 100%;
    padding: 0px;
    padding-top: 5px;
    margin: 0;
}


.nav a {
    text-decoration: none;
    margin: 0;
}

.navitem {
    min-width: 100px;
    width: max-content;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    border-width: 1px;
    background-color: white;
    border-color: darkslategrey;
    border-radius: 20px;

    transition-property: color, background-color, border-color;
    transition-duration: 0.5s;
}

.navitem:hover {
    background-color: grey;
    color: white;
    cursor: pointer;
}

#filler-navitem {
    display: none;
}

/******** Flash messages ****/

.flash {
    position: absolute;
    color: darkcyan;
    top: 50px;
    left: 30%;
}

/******* Login button *******/
#login {
    margin-left: auto;
    top: 20px;
    right: 10px;

    width: max-content;
    height: max-content;
    margin-bottom: 0px;
    margin-top: 5px;
}

.transitionButton {
    font-size: 14px;
    font-weight: bold;
    padding: 2px 5px 2px 5px;
    text-decoration: underline;

    color: white;
    background-color: darkslategray;

    border-width: 5px;
    border-color: white;
    border-radius: 10px;

    transition: color 0.5s;
    transition: background-color 0.5s;
    transition: border-color 0.5s;
}

.transitionButton:hover {
    cursor: pointer;
    color: darkslategray;
    background-color: white;
    border-color: darkslategray;
}

/******** Navigator (e.g. help page) *****/

.navigator {
    width: fit-content;
    margin: auto;
}

.navigator ol li {
    list-style: upper-roman;
}

.navigator ol li p {
    font-size: 24px;
}

/******* Titles / general *********/
.title {
    text-align: center;
    font-size: 50px;
    margin-inline: 20px;
}

.subtitle {
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
}

.centered {
    text-align: center;
}

/******** column ********/
.row {
    display: flex;
    width: 100%;
}

.row::after {
    display: block;
    clear: both;
    content: "";
}

.column50 {
    width: 50%;
}

/******** footer *********/
footer {
    padding-top: 10px;
    background-color: var(--background-color3);
    color: var(--background-color)
}

footer table {
    width: 100%;
}

footer table tr td {
    padding-left: 10px;
    text-align: center;
}

footer table tr th {
    width: 50%;
    font-size: 24px;
}

.grid {
    display: grid;
    column-gap: 5px;
    row-gap: 5px;
    grid-template-columns: 1fr 2fr;
}

.grid div:nth-child(even) {
    background-color: #d9d9d9;
    border-radius: 5px;
    padding-inline: 3px;
}

#author-img {
    height: 200px;
}

/******* Daten anzeigen *********/

.klodisplay {
    text-align: center;
    margin: auto;
    font-size: 20px;
}

a {
    text-decoration: underline;
    color: gray;
    transition: transform 0.3s;
}

/* hover not working styly */
.klodisplay a:hover {
    transform: scale(1.1);
}

a[data-descr] {
    position: relative;
}

a[data-descr]:hover::after,
a[data-descr]:focus::after {
    content: attr(data-descr);
    position: absolute;
    left: calc(100% + 10px);
    top: 0;
    width: max-content;
    border: 1px white solid;
    border-radius: 10px;
    background-color: grey;
    padding: 5px;
    color: white;
    font-size: 14px;
    z-index: 1;
}

/******* forms ***************/

form p,
form a {
    text-align: center;
}

form ul {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
}

form ul li {
    list-style: none;
    width: 200px;
}

.error {
    color: red;
}

.form-container input {
    width: 100px;
    border-radius: 8px;
    padding-left: 5px;
}

.form-container input[type="checkbox"] {
    width: 18px;
}

.form-container input[type="submit"] {
    width: 100px;
}

#gender>li {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center
}

/******** Section ***********/

section:nth-child(even) {
    background-color: var(--background-color2);
    color: black;
}

section:nth-child(odd) {
    background-color: var(--background-color);
    color: white;
}

section {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0;
}

section h2 {
    font-size: 32px;
}

section p {
    font-size: 24px;
}

.section-background::before {
    content: "";
    position: relative;
    top: -5px;
    left: -100%;

    display: block;
    width: 200vw;
    height: 5px;

    background: var(--background-color3);
}

.section-background::after {
    content: "";
    position: relative;
    top: 100%;
    left: -100%;
    display: block;

    width: 200vw;
    height: 5px;

    background: var(--background-color3);
}

/******** Two cloumn section *********/

.two-column-section {
    width: 100%;

    display: flex;
    align-items: center;
}

.two-column-left-section {
    width: 50%;
    margin-right: 20px;
    text-align: right;
}

.two-column-right-section {
    width: 50%;
    margin-left: 20px;
}

.two-column-section-column>* {
    margin: 0;
}

/********* Help ***********/
.help-paragraph {
    border-style: solid;
    border-color: white;
    background-color: #404040;
    /*box-shadow: 5px 10px #1a1a1a;*/
    border-radius: 10px;
    margin: 50px;
    padding: 10px;
}

div.help-paragraph h2 {
    margin-top: 10px;
    font-size: 32px;
}

div.help-paragraph p {
    font-size: 24px;
}

/******* 404 page ********/

#thinkingImageError {
    position: absolute;

    top: 140px;
    right: 20%;
    transform: rotateZ(30deg) translateY(100px);
    z-index: -1;
}

/***************** Counter *******************/

:root {
    --successorRotation: 50deg;
    --predecessorRotation: -50deg;
    --negativePredecessorRotation: 50deg;
}

#counter {
    margin: auto;
    width: max-content;
}

#backgroundgiver {
    background-image: linear-gradient(var(--background-color), #e4e4e4, var(--background-color));
}

.threeNumberContainer {
    margin: 10px;
    height: 65px;

    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

    gap: 20px;
    color: darkslategray;
}

.counter-number {
    font-size: 64px;
}


#cloneSuccessor {
    opacity: 0;
}

#successor {
    transform: rotate3d(1, 0, 0, var(--successorRotation));
}

#number {
    transform: rotate3d(1, 0, 0, var(--numberRotation));
    font-weight: bold;
}

#predecessor {
    transform: rotate3d(1, 0, 0, var(--predecessorRotation));
}

#clonePredecessor {
    opacity: 0;
}

/******* animations ********/
/* INCREASE ANIMATION */

.successorIncrease {
    animation: increaseSuccessor 1s;
}

.numberIncrease {
    animation: increaseNumber 1s;
}

.predecessorIncrease {
    animation: increasePredecessor 1s;
}

.clonePredecessorIncrease {
    animation: increaseClonePredecessor 1s;
}

@keyframes increaseSuccessor {
    from {
        opacity: 0%;
        transform: translateY(-40px) rotate3d(1, 0, 0, 70deg);
    }

    to {
        opacity: 100%;
        transform: translateY(0px) rotate3d(1, 0, 0, var(--successorRotation));
    }
}

@keyframes increaseNumber {
    from {
        font-weight: normal;
        transform: translateY(-70px) rotate3d(1, 0, 0, var(--successorRotation));
    }

    to {
        font-weight: bold;
        transform: translateY(0px) rotate3d(1, 0, 0, 0deg);
    }
}

@keyframes increasePredecessor {
    from {
        font-weight: bold;
        transform: translateY(-70px) rotate3d(1, 0, 0, 0deg);
    }

    to {
        font-weight: normal;
        transform: translateY(0px) rotate3d(1, 0, 0, var(--predecessorRotation));
    }
}

@keyframes increaseClonePredecessor {
    from {
        opacity: 100%;
        transform: TranslateY(-70px) rotate3d(1, 0, 0, var(--predecessorRotation));
    }

    to {
        opacity: 0%;
        transform: TranslateY(-30px) rotate3d(1, 0, 0, -70deg);
    }
}


/* DECREASE ANIMATION */

.successorDecrease {
    animation: decreaseSuccessor 1s;
}

.numberDecrease {
    animation: decreaseNumber 1s;
}

.predecessorDecrease {
    animation: decreasePredecessor 1s;
}

.cloneSuccessorDecrease {
    animation: decreaseCloneSuccessor 1s;
}

@keyframes decreaseCloneSuccessor {
    from {
        opacity: 100%;
        transform: TranslateY(70px) rotate3d(1, 0, 0, var(--predecessorRotation));
    }

    to {
        opacity: 0%;
        transform: TranslateY(40px) rotate3d(1, 0, 0, -70deg);
    }
}

@keyframes decreaseSuccessor {
    from {
        transform: translateY(70px) rotate3d(1, 0, 0, 0deg);
    }

    to {
        transform: translateY(0px) rotate3d(1, 0, 0, var(--successorRotation));
    }
}

@keyframes decreaseNumber {
    from {
        font-weight: normal;
        transform: translateY(70px) rotate3d(1, 0, 0, var(--predecessorRotation));
    }

    to {
        font-weight: bold;
        transform: translateY(0px) rotate3d(1, 0, 0, 0deg);
    }
}

@keyframes decreasePredecessor {
    from {
        opacity: 0;
        transform: translateY(40px) rotate3d(1, 0, 0, 75deg);
    }

    to {
        opacity: 1;
        transform: translateY(0px) rotate3d(1, 0, 0, var(--negativePredecessorRotation));
    }
}

/* dropdown icon drop animation */
.drop-animation {
    animation: dropdown 0.7s;
}

.dropup-animation {
    animation: dropup 0.7s;
}

@keyframes dropdown {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(var(--dropheight));
    }
}

@keyframes dropup {
    from {
        transform: translateY(var(--dropheight));
    }

    to {
        transform: translateY(0);
    }
}


/****** mediaquerry ********/
@media only screen and (max-width: 700px) {
    nav {
        display: flex;
        position: fixed;
        top: calc(-1 * var(--dropheight));
        left: 15px;
        gap: 10px;
        padding-left: 5px;
        padding-bottom: 5px;
        padding-right: 5px;
        padding-top: 5px;
        flex-direction: column;
        height: max-content;
        width: max-content;
        background-color: darkslategray;

        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    section {
        padding-left: 30px;
        padding-right: 30px;
    }

    .dropdownicon-container {
        display: block;
    }

    .dropped {
        transform: translateY(var(--dropheight));
    }

    #filler-navitem {
        display: block;
    }

    .flash {
        top: 10px;
        left: 140px;
    }
}