body {
    margin: 0px;
    background: black;
    color: white;
    overflow-x: hidden;
}

button {
    border-radius: 1%;
    margin: 5px 20px;
}

hr {
    border-color: darkslategrey;
    border-width: 3px;
}

/******* Navbar *********/

.navbar {
    display: flex;
    justify-content: center;
    gap: 50px;

    width: 100%;
    padding: 0px;
    padding-top: 5px;
    background-color: black;
    margin: 0;
}


.navbar a {
    justify-self: center;
    text-decoration: none;
    margin: 0;
}

#navitem4 {
    justify-self: flex-end;
}

.navitem {
    min-width: 100px;
    width: max-content;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    border-width: 1px;
    background-color: white;
    border-color: darkslategrey;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;

    transition-property: color, background-color, border-color;
    transition-duration: 0.5s;
}


.navitem:hover {
    background-color: grey;
    color: white;
    cursor: pointer;
}

/******** Flash messages ****/

.flash {
    position: absolute;
    color: darkcyan;
    margin-left: 10px;
}

/******** Navigator *****/

.navigator {
    width: 500px;
    margin: auto;
}

.navigator ol li {
    list-style: upper-roman;
}

.navigator ol li p {
    font-size: 24px;
}

/******* Titles *********/
.title {
    text-align: center;
    font-size: 50px;
}

.subtitle {
    text-align: center;
    font-size: 30px;
    margin-right: 30px;
    margin-top: 40px;
}

/******** column ********/
.row {
    display: flex;
    width: 100%;
}

.row::after {
    display: block;
    clear: both;
    content: "";
}

.column50 {
    width: 50%;
}



/******** counter *******/
.beschriftung {
    font-size: 30px;
    padding: 25px;
}

.boxed {
    padding: 10px;
    border-radius: 5px;
    margin-left: 10%;
    margin-right: 10%;
    border-style: solid;
    border-color: white;
}

#counter {
    text-align: center;
    width: 200px;
    font-size: 100px;
    margin: auto;
    padding: 10px;
    border-color: goldenrod;
    color: brown;
    text-shadow: 5px 5px 10px;
    box-shadow: 5px 5px 10px;
}

.side-by-side {
    margin: 10px 25%;
    text-align: center;

    display: inline-flex;
}

/******* Daten anzeigen *********/

.klodisplay {
    text-align: center;
    margin: auto;
    font-size: 20px;
}

a {
    text-decoration: underline;
    color: gray;
    transition: transform 0.3s;
}

.klodisplay a:hover {
    transform: scale(1.1);
}

a[data-descr] {
    position: relative;
}

a[data-descr]:hover::after,
a[data-descr]:focus::after {
    content: attr(data-descr);
    position: absolute;
    left: 150px;
    top: 0;
    width: max-content;
    border: 1px white solid;
    border-radius: 10px;
    background-color: grey;
    padding: 5px;
    color: white;
    font-size: 14px;
    z-index: 1;
}

/******* forms ***************/
form p,
form a,
form ul {
    margin-left: 40%;
    padding: 0px;
}

form ul li {
    list-style: none;
    width: 200px;
}

form p input {
    margin: auto;
}

form p span {
    text-align: right;
}

.error {
    color: red;
}

.addToilet-form input {
    width: 100px;
    border-radius: 8px;
    padding-left: 5px;
}

.addToilet-form input[type="checkbox"] {
    width: 18px;
}

.addToilet-form input[type="submit"] {
    width: 100px;
}

/********* Help ***********/
.help-paragraph {
    border-style: solid;
    border-color: white;
    background-color: #333333;
    box-shadow: 5px 10px #1a1a1a;
    border-radius: 10px;
    margin: 50px;
    padding: 10px;
}

div.help-paragraph h2 {
    margin-top: 10px;
    font-size: 32px;
}

div.help-paragraph p {
    font-size: 24px;
}