<!DOCTYPE html>
<html lang="de">

<head>
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>HTL-Mödling kaputte klos</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <div class="navbar">
        <a href="{{ url_for('index') }}"><button class="navitem">Home</button></a>
        <a href="{{ url_for('kloansicht') }}"><button class="navitem">Klodaten</button></a>
        <a href="{{ url_for('klo_anmelden') }}"><button class="navitem">Klo melden</button></a>
        <a href="{{ url_for('help') }}"><button class="navitem">Hilfe</button></a>

    </div>

    <div class="flash">
        {% for flash in get_flashed_messages() %}
        <p>{{flash}}</p>
        {% endfor %}
    </div>

    {% block content %}{% endblock %}

</body>

</html>