<!DOCTYPE html>
<html lang="de">

<head>
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>HTL-Mödling kaputte klos</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo Black">

    <link rel="shortcut icon" href="{{ url_for('static',filename='Favicon.jpeg') }}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <div class="rick-roll">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/DguO0RC_jPE?autoplay=1"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>

    <div class="navbar">
        <a id="navitem1" href="{{ url_for('index') }}"><button class="navitem">Home</button></a>
        <a id="navitem2" href="{{ url_for('kloansicht') }}"><button class="navitem">Klodaten</button></a>
        <a id="navitem3" href="{{ url_for('klo_anmelden') }}"><button class="navitem">Klo melden</button></a>
        <a id="navitem4" href="{{ url_for('help') }}"><button class="navitem">Hilfe</button></a>
    </div>

    <div class="flash">
        {% for flash in get_flashed_messages() %}
        <p>{{flash}}</p>
        {% endfor %}
    </div>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>

</html>