{% extends "base.html" %}

{% block content %}
<header>
    <h1 class="title">Hilfe</h1>
</header>

<div class="navigator">
    <ol>
        <li>
            <p><a href="#WebsiteDescription">Zweck der Webseite</a></p>
        </li>
        {% if authenticated == True %}
        <li>
            <p><a href="#AddToilet">Kaputtes Klo hinzufügen</a></p>
        </li>
        <li>
            <p><a href="#RemoveToilet">Repariertes Klo entfernen</a></p>
        </li>
        {% endif %}
        <li>
            <p><a href="#DefinitionBrokenToilet">Definition kaputtes Klo</a></p>
        </li>
        <li>
            <p><a href="#ToiletDisplayScheme">Darstellungsbeschreibung in Kloansicht</a></p>
        </li>
    </ol>
</div>
<hr />
<main>
    <section id="WebsiteDescription">
        <h2>Was macht diese Webseite?</h2>
        <p>
            Diese Webseite zeigt an, wie viele Klos der HTL-Mödling aktuell kaputt sind.<br>
            Die genaue Anzahl der Klos wird durch Admins aktuell gehalten.
        </p>
    </section>
    <section id="DefinitionBrokenToilet">
        <h2>Wann ist ein Klo ein kaputtes Klo?</h2>

        <p>
            Ein Klo gilt dann als kaputt, wenn es aktuell von niemandem verwendbar ist. Das heißt, dass es entweder
            abgesperrt, überschwemmt, kaputt etc. ist.
        </p>
    </section>

    <section id="ToiletDisplayScheme">
        <h2>Wie funktioniert die Darstellung in der Kloansicht?</h2>

        <p>
            Die Darstellung lautet wie folgt. Als Beispiel wird 120209:Sitzklo:02 Die ersten 6 Ziffern sind zur
            Raumidentifizierung. Nach dem ersten Doppelpunkt folgt dann entweder Sitzklo oder Pissoir, je nachdem um
            welche Kloart es sich handelt. Die letzten 2 Ziffern bilden die Klonummer.
        </p>
    </section>
    {% if authenticated == True %}
    <section id="AddToilet">
        <h2>Wie kann ich ein kaputtes Klo hinzufügen?</h2>
        <p>
            Ein Klo kann als kaputt gemeldet werden, indem es bei den <a
                href="{{ url_for('kloansicht') }}#addToiletForm">klodaten</a>
            hinzugefügt wird. Dabei müssen die verschiedenen Felder, angegeben werden. Die ersten 3 sind Gebäudenummer,
            Stocknummer und Zimmernummer. Diese kann man von der Raumnummer, die neben der Tür für das Klo angegeben ist
            ablesen.
        </p>
        <p>
            Ein Beispiel: Sie wollen ein kaputtes Klo melden. Neben der Tür ist die Nummer 300012 angeschrieben.
            Sie sind nun bei der Kloansicht und wollen es hinzufügen. Dabei bilden die ersten 2 Ziffern (30) die
            Gebäudenummer,
            die nächsten 2 (00) bilden die Stocknummer und die letzten 2 Ziffernn (12) geben die Zimmernummer an. Diese
            Werte
            müssen Sie nun in die dazugehörigen Felder eintragen.
        </p>
        <p>
            Nun sind Sie mit dem Eintragen fertig. Wenn Sie nun den Knopf mit der Aufschrift "Klo hinzufügen" betätigen,
            wird Ihr Antrag automatisch hinzugefügt. Wenn Sie genau aufpassen, sollten Sie auch bemerkt haben, dass sich
            der
            Zähler um 1 erhöht hat (solange kein anderes Klo zur selben Zeit hinzugefügt oder gelöscht wurde):
        </p>
    </section>

    <section id="RemoveToilet">
        <h2>Wie kann ich ein repariertes Klo wieder entfernen?</h2>
        <p>
            Um ein repariertes Klo wieder zu entfernen, gehen Sie zunächst zu diesen <a
                href="{{ url_for('kloansicht') }}">Link</a>.
            Dort sehen Sie alle kaputten Klos aufgelistet. Um nun ein Klo zu entfernen, müssen Sie auf das Klo klicken.
            Daraufhin drücken Sie "Löschen". Das Klo wurde dadurch gelöscht.
        </p>
    </section>
    {% endif %}
</main>

{% endblock %}