{% extends "base.html" %}

{% block content %}
<h1 class="title">Aktuell gemeldete Klos</h1>
{% for kaputtes_klo in kaputte_klos %}
<p class="klodisplay"><a href="kloansicht/{{kaputtes_klo}}">{{kaputtes_klo}}</a></p>
<br>
{% endfor %}
<hr>
<h2 class="title">Klo anmelden</h2>
<form action="" method="post" novalidate>
    <div class="addToilet-form" id="addToiletForm">
        {{ form.hidden_tag() }}
        <p>
            {{ form.gebäudenummer.label }}<br>{{ form.gebäudenummer() }}
            {% for error in form.gebäudenummer.errors %}
            <span class="error">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.stocknummer.label }}<br>{{ form.stocknummer() }}
            {% for error in form.stocknummer.errors %}
            <span class="error">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.zimmernummer.label }}<br>{{ form.zimmernummer() }}
            {% for error in form.zimmernummer.errors %}
            <span class="error">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.pissoir.label }}<br>{{ form.pissoir() }}
        </p>
        <p>
            {{ form.klonummer.label }}<br>{{ form.klonummer() }}
            {% for error in form.klonummer.errors %}
            <span class="error">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
        <a href="{{ url_for('help') }}#AddToilet">Hilfe?</a>
    </div>
</form>

{% endblock %}