{% extends "base.html" %}

{% block content %}
<header>
    <h1 class="title">Login</h1>
</header>
<hr />
<main>
    <form action="" method="post" novalidate>
        <section class="form-container">
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>{{ form.username() }}
                {% for error in form.username.errors %}
                <span class="error">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>{{ form.password() }}
                {% for error in form.password.errors %}
                <span class="error">[{{ error }}]</span>
                {% endfor %}
            </p>

            <p>{{ form.submit() }}</p>

            <p class="error">{{ errorMessage }}</p>
        </section>
    </form>
</main>
{% endblock %}